.main{
    height: 20%;
    padding: 0;
    /* background-color: white; */
}

.logo{
    text-align: left;
    
}
.logo img{
    height: 100px;
}

.Hero{
    height: 60%;
    width: 30%;
    display:flex;
    justify-content: left;
    align-items: center;
    padding: 50px 20px;
    margin-top: 120px;
    margin-left: 50px;
}

.leftSection{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.leftSection h1{
    font-size: 70px;
    color: white ;
}


.leftSection button {
    background-color: #1dca34;
    padding: 20px 15px;
    font-size: 25px;
    border-radius: 25px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.11);
    width: 160px;
}

.leftSection button:hover{
    color: white;
}